<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ADD CARD</title>

  <!-- Thêm các thẻ link để load CSS của Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<body>
<h1>ADD CARD</h1>
<p>
  <a th:href="@{/list}">Product list</a>
</p>
<form th:action="@{/addCard}" th:object="${shoppingCartDto}" method="post">
  <input type="hidden" name="id" th:field="*{id}">
  <label>Product id</label><br>
  <input type="text" name="product.id" th:value="${productDto.id}"><br>
  <label>Product name</label><br>
  <input type="text" name="title" th:value="${productDto.name}"><br>
  <label>Product price</label><br>
  <input type="text" name="price" th:value="${productDto.price}"><br>
  <label>Quantity</label><br>
  <input type="number" th:field="*{quantity}"><br>
  <input type="submit" value="Add Product">
</form>

<!-- Thêm các thẻ script để load JavaScript của Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
